Repository HongzhengL/justgo.ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, prisma-validate, prisma-format

.pre-commit-config.yaml:

# Pre-commit configuration for AI Travel Planner
# Staged Performance-Optimized Configuration
# See https://pre-commit.com for more information

default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

repos:
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: prettier --write --ignore-unknown
            files: \.(js|jsx|ts|tsx|css|json|yaml|yml|md)$
            language: node
            additional_dependencies:
                - prettier@^3.6.2

          - id: eslint
            name: eslint
            entry: eslint --fix
            files: \.(js|jsx|ts|tsx)$
            language: node
            additional_dependencies:
                - eslint@^8.57.0
                - "@typescript-eslint/eslint-plugin@^6.21.0"
                - "@typescript-eslint/parser@^6.21.0"
                - eslint-plugin-react@^7.33.2
                - eslint-plugin-react-hooks@^4.6.0
                - eslint-config-prettier@^9.1.0

          - id: typescript-check
            name: typescript-check
            entry: npx tsc --noEmit --skipLibCheck
            files: \.(ts|tsx)$
            language: node

          - id: prisma-validate
            name: prisma-validate
            entry: bash -c 'if [ -z "$DATABASE_URL" ]; then echo "DATABASE_URL not set, loading from .env.server.dev"; export $(cat .env.server.dev | grep DATABASE_URL | xargs); fi; npx prisma validate'
            files: ^schema\.prisma$
            language: system

          - id: prisma-format
            name: prisma-format
            entry: npx prisma format
            files: ^schema\.prisma$
            language: node

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-merge-conflict
          - id: check-added-large-files
            args: ["--maxkb=500"]
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: detect-private-key

style: format code
  TODO.md
  src/Main.css
  src/auth/auth.css
  src/pages/dashboard.css
Due: prettier

ci: fix wasp version
  .github/workflows/ci.yml
Due: prettier

feat: add Whisper voice integration code
  .env.server.example
  main.wasp
  package-lock.json
  package.json
  src/hooks/useVoiceRecorder.js
  src/operations/voice.js
  src/pages/DashboardPage.jsx
  src/pages/dashboard.css
  src/serverSetup.js
  src/utils/audioRecorder.js
Due: prettier, eslint

fix: hotel display issues and improve card rendering
  main.wasp
  server.env
  src/MainPage.jsx
  src/api/amadeus/amadeusAuth.js
  src/api/amadeus/cache.js
  src/api/amadeus/hotelService.js
  src/components/Card.jsx
  src/components/CardList.jsx
  src/components/HotelBookingRedirect.jsx
  src/components/HotelSearch.jsx
  src/operations/travel.js
  src/services/aiAgent.js
  src/services/parameterMapping.js
  src/utils/airportMapping.js
  vite.config.ts
Due: prettier, eslint, typescript-check

added documentation - hotel search
  HOTEL_FEATURE_GUIDE.md
  README.md
Due: prettier

fix: require AI to convert city names to IATA airport codes
  src/services/aiAgent.js
Due: prettier, eslint

chore: add .mcp.json to .gitignore
  .gitignore
Due: none

fix: ensure all message IDs are unique and defined
  .eslintrc.json
  .mcp.json
  src/api/googlemaps/client.ts
  src/api/serpapi/client.ts
  src/components/Card.jsx
  src/components/CardList.jsx
  src/components/InfoModal.jsx
  src/operations/conversation.js
  src/pages/DashboardPage.jsx
Due: prettier, eslint, typescript-check

fix: clean up trailing whitespace and formatting in aiAgent.js
  src/services/aiAgent.js
Due: prettier, eslint

refactor: remove redundant airport mapping code now that AI handles IATA conversion
  HOTEL_FEATURE_GUIDE.md
  README.md
  src/MainPage.jsx
  src/api/amadeus/amadeusAuth.js
  src/api/amadeus/cache.js
  src/api/amadeus/hotelService.js
  src/components/HotelBookingRedirect.jsx
  src/components/HotelSearch.jsx
  src/hooks/useVoiceRecorder.js
  src/operations/travel.js
  src/operations/voice.js
  src/pages/dashboard.css
  src/serverSetup.js
  src/services/parameterMapping.js
  src/utils/airportMapping.js
  src/utils/audioRecorder.js
  vite.config.ts
Due: prettier, eslint, typescript-check

security: remove server.env from git tracking to prevent secret exposure
  .gitignore
  server.env
Due: none

feat: add useChatNavigation custom hook for scroll state management
  src/hooks/useChatNavigation.js
Due: prettier, eslint

feat: add go to top/bottom navigation buttons for chat
  src/components/ChatNavigation.jsx
  src/pages/DashboardPage.jsx
  src/pages/dashboard.css
Due: prettier, eslint

feat: add clear conversation functionality to sidebar
  main.wasp
  src/components/ConfirmDialog.jsx
  src/components/layout/Sidebar.jsx
  src/operations/conversation.js
Due: prettier, eslint

fix: implement proper flight booking options functionality
  main.wasp
  src/api/cache/bookingCache.js
  src/api/index.ts
  src/api/serpapi/client.ts
  src/api/translation/aiTranslator.ts
  src/api/types.ts
  src/components/BookingOptionsModal.jsx
  src/components/Card.jsx
  src/components/CardList.jsx
  src/operations/booking.js
  src/pages/DashboardPage.jsx
  src/services/aiAgent.js
Due: prettier, eslint, typescript-check

fix: replace alert dialogs with confirmation modals and fix scroll in My Itinerary
  src/components/Card.jsx
  src/components/ConfirmationModal.jsx
  src/pages/DashboardPage.jsx
  src/pages/MyItineraryPage.jsx
Due: prettier, eslint

feat: add comprehensive UI styling system and component improvements
  src/Main.css
  src/MainPage.jsx
  src/components/CardList.jsx
  src/components/InfoModal.jsx
  src/components/card.css
  src/components/cardlist.css
  src/components/infomodal.css
  src/components/landing.css
  src/components/layout/AppLayout.jsx
  src/components/layout/Sidebar.jsx
  src/components/layout/layout.css
  src/pages/dashboard.css
  src/styles/animations.css
  src/styles/globals.css
  src/styles/variables.css
Due: prettier, eslint

feat: implement comprehensive hotel booking automation system
  app.log
  form-filled-final.png
  form-filling-debug.png
  hotel-search-results.png
  main.wasp
  package-lock.json
  package.json
  room-selection-debug.png
  src/components/BookingCompletionModal.jsx
  src/components/BookingOptionsModal.jsx
  src/components/Card.jsx
  src/components/CardList.jsx
  src/components/HotelBookingModal.jsx
  src/components/InfoModal.jsx
  src/operations/booking.js
  src/operations/hotelBooking.js
  src/pages/DashboardPage.jsx
  src/services/aiHotelBookingAgent.js
  src/services/browserAutomationEngine.js
  src/services/realBrowserAutomation.js
  src/services/simpleBrowserAutomation.js
  src/utils/formAutoFill.js
Due: prettier, eslint

feat(ui): modern carousel and branding fixes with Swiper integration
  main.wasp
  package-lock.json
  package.json
  public/assets/justgo_logo.svg
  src/auth/pages/LoginPage.jsx
  src/auth/pages/SignupPage.jsx
  src/components/CardList.jsx
  src/components/layout/Sidebar.jsx
  src/components/layout/layout.css
  src/pages/dashboard.css
Due: prettier, eslint

feat: restore activity feature files
  package-lock.json
  src/components/ActivityCard.jsx
  src/components/ActivityCardList.jsx
  src/operations/activities.js
Due: prettier, eslint

fix: comprehensive multi-trip planner and flight booking improvements
  src/components/Card.jsx
  src/services/aiAgent.js
  src/services/aiHotelBookingAgent.js
  src/services/parameterMapping.js
  src/services/simpleBrowserAutomation.js
Due: prettier, eslint

ci: add GitHub Actions workflow for deploying to Netlify and Heroku
  .github/workflows/deploy.yml
Due: prettier

fix: update email sender provider from Dummy to SMTP for deployment
  main.wasp
Due: none

chore: update npm packages
  package-lock.json
Due: prettier

chore: add technology architecture diagram for presentation
  tech-stack-architecture.dot
  tech-stack-architecture.svg
Due: none

chore: remove log file
  app.log
Due: none

chore: format code
  src/components/BookingCompletionModal.jsx
  src/components/Card.jsx
  src/components/HotelBookingModal.jsx
  src/components/InfoModal.jsx
  src/operations/booking.js
  src/operations/hotelBooking.js
  src/pages/DashboardPage.jsx
  src/services/aiAgent.js
  src/services/aiHotelBookingAgent.js
  src/services/browserAutomationEngine.js
  src/services/parameterMapping.js
  src/services/realBrowserAutomation.js
  src/services/simpleBrowserAutomation.js
  src/utils/formAutoFill.js
Due: prettier, eslint

fix: implement return flight search for round trip bookings
  src/components/CardList.jsx
  src/components/FloatingCostSummary.jsx
  src/components/InfoModal.jsx
  src/components/OrganizedCardList.jsx
  src/components/floating-cost-summary.css
  src/components/layout/MobileNavigation.jsx
  src/components/layout/Sidebar.jsx
  src/components/layout/layout.css
  src/components/organized-cardlist.css
  src/pages/DashboardPage.jsx
  src/pages/MyItineraryPage.jsx
  src/pages/dashboard.css
  src/services/aiAgent.js
  src/services/parameterMapping.js
Due: prettier, eslint

chore: add .netlify to .gitignore
  .gitignore
Due: none

chore: remove sensitive information
  .mcp.json
Due: prettier

chore: format code
  src/components/FloatingCostSummary.jsx
  src/components/InfoModal.jsx
  src/components/OrganizedCardList.jsx
  src/components/floating-cost-summary.css
  src/components/layout/layout.css
  src/components/organized-cardlist.css
  src/pages/DashboardPage.jsx
  src/pages/MyItineraryPage.jsx
  src/pages/dashboard.css
  src/services/aiAgent.js
  src/services/parameterMapping.js
Due: prettier, eslint

fix: make the behavior of booking in the `my-itinerary` page consistent with the `dashboard` page
  src/pages/MyItineraryPage.jsx
Due: prettier, eslint

fix: recover database migration files for user and itinerary management
  .gitignore
  migrations/20250709234233_/migration.sql
  migrations/migration_lock.toml
Due: none

feat: Add activity booking feature with OpenAI integration
  main.wasp
  package-lock.json
  package.json
  src/components/ActivityCard.jsx
  src/components/ActivityCardList.jsx
  src/components/Card.jsx
  src/components/CardList.jsx
  src/operations/activities.js
  src/pages/dashboard.css
  src/services/aiAgent.js
  src/services/realBrowserAutomation.js
  src/services/simpleBrowserAutomation.js
Due: prettier, eslint

fix: add booking modal functionality to itinerary page
  src/pages/MyItineraryPage.jsx
Due: prettier, eslint

Fix price calculation, enhance multi-city trip planning, improve UI elements, and switch to SMTP
  main.wasp
  package-lock.json
  src/operations/activities.js
  src/pages/MyItineraryPage.jsx
  src/pages/dashboard.css
  src/services/aiAgent.js
  src/services/parameterMapping.js
  src/utils/airportMapping.js
Due: prettier, eslint

Fix code formatting with Prettier
  src/components/ActivityCard.jsx
  src/components/ActivityCardList.jsx
  src/operations/activities.js
  src/pages/MyItineraryPage.jsx
  src/pages/dashboard.css
  src/services/aiAgent.js
  src/utils/airportMapping.js
Due: prettier, eslint

Fix return flight booking and improve restaurant search
  src/api/serpapi/client.ts
  src/api/translation/aiTranslator.ts
  src/components/Card.jsx
  src/operations/activities.js
  src/operations/booking.js
  src/services/aiAgent.js
  src/utils/airportMapping.js
Due: prettier, eslint, typescript-check
